<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">

    <title>进入空白的主页</title>
</head>
<body>

<a href="/publish/大工程名称/项目名称/index.html">进入空白的主页</a>


</body>
</html>